@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: poppins, sans-serif;
}

body {
  background: rgb(117, 131, 148, 0.5);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin-top: 1.2rem;
}

html {
  scroll-behavior: smooth;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6070ff;
  display: none;
  flex-direction: column;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  z-index: 99;
}

/* modal */
.modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;
  background: white;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.modal-head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  justify-self: center;
  align-self: center;
}

.modal-head-container .modal-close {
  font-size: 50px;
  font-weight: 500;
  color: #67798e;
  cursor: pointer;
  position: relative;
  top: -8px;
}

.modal-ul {
  margin-left: 5%;
}

.modal-img {
  width: 80%;
  display: flex;
  align-self: center;
}

.modal-cover {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 5;
  height: 90vh;
  right: 0;
  left: 0;
  background: rgb(117, 131, 148);
}

.card .modal .modal-close {
  font-size: 22px;
  margin-top: 10px;
}

/* end modal */

body.menu-open {
  overflow: hidden;
}

.mobile-menu .nav-link {
  height: 3rem;
  width: 100%;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
}

.logo a:hover {
  color: #72737e;
}

.mobile-menu .nav-link a {
  text-decoration: none;
  display: inline-block;
  height: 2rem;
  width: 100vw;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  padding: 0.9rem;
  margin-bottom: 0.2rem;
}

.mobile-menu .nav-link a:hover {
  color: #dae1ed;
}

.openBtn {
  z-index: 999;
}

.closeBtn {
  font-size: 50px;
  position: relative;
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  bottom: 100%;
  z-index: 999;
  top: 0;
  cursor: pointer;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}

ul li {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  cursor: pointer;
}

.logo {
  color: #3769a3;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2rem;
  margin-left: 1rem;
}

#openBtn {
  margin-right: -20px;
  display: flex;
  justify-content: flex-end;
}

#logo-new {
  color: #6070ff;
}

#logo-new:hover {
  color: #3769a3;
}

#about {
  border-top-left-radius: 60px;
}

.toolbar-container {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: auto;
  margin-left: 0;
  margin-right: -100px;
  width: 90%;
  align-items: stretch;
  align-content: baseline;
}

nav div {
  display: none;
}

.toolbar-container svg {
  font-size: 2rem;
  margin-right: 0;
}

#nav-list {
  display: flex;
  justify-content: space-between;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
  width: 90%;
  margin: auto;
  background-image: url("images/header-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.import {
  color: grey;
}

.heading {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  color: #172b4d;
}

.bio {
  margin-bottom: 0.5rem;
}

.headline-bio p {
  margin: 1rem auto;
}

#bio-article {
  width: 90%;
  margin: 0 auto;
}

#list-items {
  width: 90%;
  margin: 0 auto;
}

.bio p {
  font-size: 14px;
  line-height: 1.2;
  color: #344563;
}

#purple {
  color: #7f8cff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
}

.links svg {
  margin-right: 1rem;
  cursor: pointer;
}

.links svg path {
  fill: rgb(74, 72, 72);
}

.links svg:hover path {
  fill: #7f8cff;
}

.works {
  display: grid;
  place-items: center;
  grid-template-columns: 95%;
  grid-template-rows: 4;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: none;
  border-top-left-radius: 2rem;
  background: #fff;
  padding: 0.8rem;
  padding-right: 0.5rem;
}

span img {
  width: 3rem;
  height: 3rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card .modal-img {
  width: 90%;
  height: 50%;
  display: flex;
  align-self: center;
}

.card .modal-footer .view-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.2rem;
  border-top: 1px solid #ebecf0;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid #396df2;
  border-radius: 0.5rem;
  background: white;
  text-align: center;
  margin-right: auto;
  margin-top: 5px;
  height: 6vh;
  color: #396df2;
  width: 6.5rem;
  cursor: pointer;
}

.btn:active {
  color: white;
  background: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  background: #e5e5e5;
}

.btn:hover {
  color: white;
  background: #6070ff;
}

#about- {
  margin-bottom: 1rem;
}

.card .modal-footer .view-btn-container .btn {
  text-align: center;
  font-size: 17px;
  position: relative;
  top: 15px;
  line-height: 24px;
  font-weight: 500;
  width: auto;
}

.card .modal-footer .desc {
  flex: 1;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0.8rem 0.5rem;
  color: #344563;
}

.card .modal-footer .details {
  margin-left: 5%;
  margin-bottom: 7px;
}

.card .modal-footer .details .view-btn-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.card .modal-footer .details .view-btn-container a {
  text-decoration: none;
  font-size: 14px;
  color: #6070ff;
  width: auto;
}

.card .modal-footer .details .view-btn-container .bx {
  margin-left: 1px;
}

.card h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 700;
  color: #172b4d;
  margin: 8px 0;
}

.card-list {
  height: 7vh;
  width: 100%;
  margin: 4px 0;
}

.card span {
  display: inline-block;
  margin-bottom: 0.1rem;
}

.card p {
  color: #344563;
  font-size: 12px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}

.tech-stack ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tech-stack li {
  color: #6070ff;
  background: #ebebff;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.2rem;
  margin-bottom: 0.7rem;
}

.langs li {
  width: 90%;
  height: 3rem;
  background: #f7f7f9;
  margin-bottom: 0.5rem;
  display: flex;
  align-content: baseline;
  border-radius: 1.2rem;
}

.card .tech-stack li {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.no-bullet {
  font-size: 12px;
  font-weight: 600;
  color: #344563;
  line-height: 1.2;
  margin-right: 0.2rem;
}

.card .modal-ul {
  position: relative;
  top: -15px;
  margin-bottom: 0;
}

.card .modal-ul .no-bullet {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  font-style: medium;
}

[id^="modal-cover"] {
  height: auto;
  width: 100%;
}

[id^="mdlhead-"] {
  font-size: 20px;
}

[id^="mdldesc-"] {
  font-size: 12px;
}

.project-tag {
  color: #7a869a;
  font-size: 10px;
  margin-right: 0.3rem;
  list-style-type: disc;
  list-style-position: inside;
}

.about {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  margin: 1rem auto;
  background-color: white;
}

.resume-btn {
  width: auto;
  margin: -10px 0;
}

.languages-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 2rem;
  color: #000;
}

.about-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
}

.about-list span {
  display: flex;
  width: 90%;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
}

.langs li span {
  width: 30%;
}

#logo-new span {
  font-weight: 300;
}

.language-container {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  padding-top: 0.9rem;
}

.language-container img {
  margin-right: 3rem;
}

.language-container p {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #253858;
}

#js {
  border-radius: 50%;
}

.about-head {
  font-size: 24px;
  font-weight: 700;
  color: #172b4d;
  margin-bottom: 0.3rem;
}

.about-list .vector {
  height: 0.9rem;
  width: 0.9rem;
}

.lang-links {
  width: 90%;
}

.langs span img {
  margin-right: 1rem;
  margin-left: 1rem;
}

hr {
  width: 90%;
  height: 0.08rem;
  margin-left: 0;
  margin-top: 0.9rem;
  background: #dfe1e6;
}

.contact {
  background: #6070ff url("images/contact-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: auto;
  padding-bottom: 0.9rem;
  border-top-left-radius: 5rem;
}

.card-wrapper {
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 0.8rem 0;
}

.mdbtn {
  font-size: 12px;
  border: 1px solid #ebebff;
  border-radius: 15px;
  margin: 0.7rem 0;
  margin-right: 0.8rem;
}

.contact h2 {
  color: #fff;
  font-size: 2.3rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.card .modal h2 {
  font-size: 20px;
  line-height: 1.2;
}

.contact p {
  color: #ebebff;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  font-weight: 400;
  font-family: poppins, sans-serif;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1.3rem;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form input {
  width: 70%;
  margin: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #172b4d;
  height: 2rem;
  border: 1px solid #cfd8dc;
  padding: 0.5rem;
  font-family: poppins, sans-serif;
  transition: 0.5s;
}

.error-message {
  color: red;
  display: none;
}

.btn-container {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

form textarea {
  width: 70%;
  margin: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  height: 5rem;
  border: 1px solid #cfd8dc;
  font-family: poppins, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  border: 2px solid #6070ff;
  border-radius: 15px;
  margin-bottom: 0.9rem;
}

#list-items {
  margin-top: 1rem;
}

#container .row {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  margin: 0 auto;
}

#container .row img {
  width: 15%;
  height: 15%;
  margin: 2px;
  padding: 0.5rem;
}

.contact-btn {
  align-items: center;
  height: 2rem;
  width: auto;
  background-color: #fff;
  color: #6070ff;
  border-radius: 0.5rem;
  border: 1px solid #cfd8dc;
  font-size: 15px;
  margin-top: 0.5rem;
}

.contact-btn:hover {
  background-color: #6070ff;
  color: #cfd8dc;
}

.contact-btn:active {
  background-color: #2230d2;
  color: #cfd8dc;
}

.line {
  position: relative;
  bottom: 1.2rem;
  margin: 3rem auto;
  width: 28%;
  align-items: center;
  justify-content: center;
  height: 0.2rem;
  margin-bottom: 1.2rem;
  background-color: #000;
}

@media screen and (min-width: 768px) {
  #container {
    width: 90%;
    margin: 0 0;
  }

  #container .row {
    justify-content: space-evenly;
  }

  .menu-popup {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .close {
    display: none;
  }

  .line {
    display: none;
  }

  #openBtn {
    display: none;
  }

  .logo {
    line-height: 1.8rem;
    margin-left: 1.5rem;
  }

  .logo a {
    font-size: 1.5rem;
  }

  #home {
    height: 3vh;
  }

  .reorder {
    order: 1;
  }

  [id^="mdlbtn"] {
    font-size: 12px;
    height: 3vh;
  }

  .mdbtn {
    height: 6vh;
    width: 5rem;
    padding: 0.2rem;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
  }

  .mdbtn:hover {
    background: #6070ff;
    border: 1px solid #cfd8dc;
    border-radius: 10px;
  }

  nav {
    background: #fff;
  }

  #nav-list {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    align-items: center;
    width: 100%;
    z-index: 999;
  }

  .card .modal .modal-close {
    font-size: 32px;
    margin-top: 10px;
  }

  .toolbar-container {
    position: fixed;
    top: 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  .card-wrapper {
    height: 90vh;
    width: 80vw;
    padding-top: 2rem;
    margin: auto auto;
  }

  nav div {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link a {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1.5rem;
    justify-content: space-around;
    color: #344563;
    text-decoration: none;
  }

  .toolbar-container li {
    font-family: poppins, sans-serif;
    font-size: 1.2rem;
    justify-content: space-around;
    color: #344563;
  }

  .toolbar-container svg {
    display: none;
  }

  .headline {
    margin: auto;
    margin-top: 4.5rem;
    padding-top: 1.8rem;
    width: 90%;
    display: flex;
    align-self: center;
    background-image: url("images/desktop_bg.png");
    background-position: left 20px;
    background-size: cover;
  }

  .heading {
    font-size: 3rem;
    color: #172b4d;
    margin-top: 1.5rem;
  }

  .links {
    margin-left: 1.2rem;
    margin-bottom: 0.5rem;
    width: 30%;
    height: 3rem;
  }

  .headline .links {
    margin-left: 7rem;
  }

  .headline h1 {
    font-size: 3rem;
    color: #172b4d;
    margin-bottom: 1.2rem;
    margin-left: 7rem;
    margin-top: 1.5rem;
  }

  #elevator-pitch {
    width: 90%;
    margin-bottom: 2rem;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }

  .headline p {
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 7rem;
  }

  .head-div {
    width: 90%;
    margin-left: 4rem;
  }

  .headline-bio {
    font-size: 1.2rem;
    width: 70%;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .bio p {
    font-size: 1.2rem;
    width: 100%;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    align-content: center;
    justify-content: center;
    background-image: #fff;
    border: 1px solid #dfe1e6;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .works {
    width: 95%;
    margin: 0 auto;
  }

  .works article {
    margin-bottom: 1.5rem;
  }

  .card div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 2rem;
    align-content: center;
  }

  .img-div {
    width: 50%;
    margin-right: 0.3rem;
  }

  .card img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    margin: 0 0.2rem;
  }

  .card-project {
    object-fit: cover;
  }

  /* modal */
  .card .modal {
    z-index: 10;
    position: fixed;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 35px;
    padding-top: 1rem;
  }

  .card .modal-head-container {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 1rem;
    margin-bottom: 1.3rem;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 2%;
    padding-top: 1rem;
    align-self: center;
  }

  .card .modal-img {
    height: 55%;
    width: 85%;
    object-fit: cover;
    object-position: left top;
    border-radius: 5px;
    margin: 5px 0;
  }

  .card .modal-cover {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    right: 0;
    left: 0;
    background: rgb(117, 131, 148);
  }

  .card .modal-footer {
    display: flex;
    flex-direction: row;
    height: 30%;
  }

  .card .modal-footer .desc {
    flex: 2;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-left: 5%;
  }

  .headline h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .about h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 1.2rem;
    margin-left: 2rem;
  }

  .card h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 0.7rem;
  }

  .contact h2 {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 0.2rem;
  }

  .card .modal-head-container h2 {
    font-size: 28px;
    position: relative;
    left: -6px;
    color: #091e42;
    font-weight: 700;
    line-height: 40px;
  }

  .card .modal-ul {
    margin-left: 5%;
    position: relative;
    top: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 15px;
  }

  .no-bullet {
    font-weight: 600;
    color: #344563;
    font-size: 18px;
    line-height: 1.9rem;
    margin-right: 0.9rem;
  }

  .card .modal-ul .no-bullet {
    font-size: 15px;
    font-style: medium;
  }

  .card .modal-footer .details {
    flex: 1;
  }

  .card .modal-footer .details .view-btn-container {
    display: flex;
    position: relative;
    top: -10px;
    flex-direction: row;
    font-size: 13px;
  }

  .card .modal-footer .details .view-btn-container a {
    height: 4vh;
  }

  .card .modal-footer .details .view-btn-container a:hover {
    color: #fff;
  }

  .tech-stack li {
    color: #6070ff;
    background: #e5e5e5;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    font-size: 12px;
    margin-bottom: 0.9rem;
  }

  .langs li {
    width: auto;
    height: 5rem;
    margin-left: 0.5rem;
  }

  .card .modal-footer .tech-stack li {
    font-size: 12px;
    line-height: 16px;
    position: relative;
    top: 10px;
    margin-bottom: 1.7rem;
  }

  /* [id^="mdl"] {
    height: 25%;
    width: 100%;
    text-align: center;
  } */

  .sep {
    height: 3vh;
    margin-bottom: 2rem;
  }

  .about {
    margin: 3.5rem auto;
    flex-direction: row;
    height: auto;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
    border-top-right-radius: 3rem;
  }

  #purple {
    font-size: 1.2rem;
    color: #7f8cff;
    margin-bottom: 1.2rem;
    margin-left: 7rem;
    font-weight: 700;
  }

  .bio #purple {
    font-size: 1.2rem;
    color: #7f8cff;
    margin-bottom: 1.2rem;
    margin-left: 2rem;
    font-weight: 700;
  }

  .links svg {
    position: relative;
    bottom: 1.1rem;
    margin-right: 0.7rem;
    cursor: pointer;
    height: 1.2rem;
    width: 2.2rem;
  }

  .links svg:hover path {
    fill: #7f8cff;
  }

  .card span {
    display: inline-block;
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
  }

  .card p {
    color: #344563;
    font-size: 1rem;
    line-height: 2;
    margin: 2rem 0;
  }

  .language-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }

  .btn {
    padding: 0.1rem;
    margin-top: 1rem;
    width: auto;
    height: 5.5vh;
    border: 1px solid #dfe1e6;
  }

  .contact article {
    display: flex;
    align-self: center;
    width: 60%;
    flex-direction: column;
    margin: inherit;
    height: auto;
  }

  .about-list {
    margin-top: 2rem;
  }

  .languages-title {
    color: #344563;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3rem;
    margin-top: 1.2rem;
  }

  .langs ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }

  .langs span {
    display: flex;
    flex-direction: column;
    font-size: 0.1rem !important;
    color: #253858;
    justify-content: center;
    margin: 3rem 0.5rem;
    width: 30%;
    height: auto;
  }

  .langs ul span {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-left: 0;
  }

  .language-container img {
    position: relative;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.4rem;
  }

  #container .row img {
    width: 3rem;
    height: 3rem;
  }

  .langs li span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0.2rem;
    width: auto;
  }

  .about-head {
    font-size: 1.1rem;
  }

  #about_myself {
    font-size: 0.9rem;
    line-height: 1.1rem;
    width: 90%;
    text-align: justify;
    color: #344563;
  }

  .bio {
    width: 40%;
    padding-right: 1rem;
  }

  .second-container {
    width: 60%;
  }

  .resume-btn {
    position: relative;
    left: 1rem;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 0.3rem;
    margin-left: 0.8rem;
  }

  .contact {
    background-image: url("images/contact_desktop_bg.png");
    background-size: contain;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.2rem;
    padding-bottom: 3.2rem;
    height: 100%;
  }

  .contact p {
    padding-bottom: 0.3rem;
  }

  .contact-btn {
    margin-top: 0.4rem;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .contact-btn:hover {
    background-color: #eeeff1;
    color: #091e42;
    font-size: 18px;
    font-weight: 500;
    transform: scale(0.95);
  }

  .contact-btn:active {
    transform: scale(0.95);
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
  }

  form textarea {
    margin-bottom: 0.9rem;
  }

  .langs p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .frameworks {
    margin-top: 4.5rem;
  }
}
