@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin-top: 1.2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  cursor: pointer;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  line-height: 1.2rem;
  margin-left: 1rem;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
}

.logo a:hover {
  color: #72737e;
}

.toolbar-container {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: auto;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: -100px;
  width: 90%;
  align-items: stretch;
  align-content: baseline;
}

nav div {
  display: none;
}

.toolbar-container svg {
  font-size: 2rem;
  margin-right: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  background-image: url("images/header-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.import {
  color: grey;
}

.heading {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #172b4d;
}

.bio {
  margin-bottom: 0.5rem;
}

.headline-bio p {
  margin: 1rem auto;
}

.bio p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

#purple {
  color: #7f8cff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
}

.links svg {
  margin-right: 1rem;
  cursor: pointer;
}

.links svg:hover path {
  fill: #7f8cff;
}

.works {
  display: grid;
  place-items: center;
  margin-left: 2rem;
  grid-template-columns: 90%;
  grid-template-rows: 4;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #dfe1e6;
  border-radius: 1rem;
  background: #fff;
  margin-bottom: 3rem;
  padding: 1.2rem;
}

span img {
  width: 3rem;
  height: 3rem;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 0.8rem;
  transition: 0.5s ease-in-out;
}

.card h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 700;
  color: #172b4d;
}

.card span {
  display: inline-block;
  margin-bottom: 0.1rem;
}

.card p {
  color: #344563;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.tech-stack ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tech-stack li {
  color: #6070ff;
  background: #e5e5e5;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.2rem;
  margin-bottom: 1.2rem;
}

.no-bullet {
  font-size: 1.3rem;
  font-weight: 600;
  color: #344563;
  line-height: 1.5rem;
  margin-right: 0.5rem;
}

.project-tag {
  color: #7a869a;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-right: 0.3rem;
  list-style-type: disc;
  list-style-position: inside;
}

.btn {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  border: 1px solid #396df2;
  border-radius: 0.5rem;
  background: white;
  text-align: center;
  padding: auto;
  margin-right: auto;
  height: 3rem;
  color: #396df2;
  width: 8rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.btn:hover {
  color: white;
  background: #6070ff;
}

.btn:active {
  color: white;
  background: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  background: #e5e5e5;
}

.about {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: auto;
  background-color: white;
}

.resume-btn {
  width: auto;
}

.languages-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #000;
}

.about-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
}

.langs li {
  width: 90%;
  height: 4rem;
  background: #f7f7f9;
  margin-bottom: 0.5rem;
  display: flex;
  align-content: baseline;
  border-radius: 1.2rem;
}

.about-list span {
  display: flex;
  width: 90%;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
}

.langs li span {
  width: 30%;
}

.language-container {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  padding-top: 0.9rem;
}

.language-container img {
  margin-right: 3rem;
}

.language-container p {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #253858;
}

#js {
  border-radius: 50%;
}

.about-head {
  font-size: 2.2rem;
  font-weight: 700;
  color: #172b4d;
  margin-bottom: 1.2rem;
}

.about-list .vector {
  height: 0.9rem;
  width: 0.9rem;
}

.lang-links {
  width: 90%;
}

.langs span img {
  margin-right: 1rem;
  margin-left: 1rem;
}

.card img:hover {
  transform: scale(0.8);
}

hr {
  width: 90%;
  height: 0.08rem;
  margin-left: 0;
  margin-top: 0.9rem;
  background: #dfe1e6;
}

.contact {
  background: #6070ff url("images/contact-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: auto;
  border-top-left-radius: 5rem;
}

.contact h2 {
  color: #fff;
  font-size: 2.3rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}

.contact p {
  color: #ebebff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: poppins, sans-serif;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1.3rem;
  text-align: center;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form input {
  width: 70%;
  margin: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #172b4d;
  height: 2rem;
  border: 1px solid #cfd8dc;
  padding: 0.5rem;
  font-family: poppins, sans-serif;
  transition: 0.5s;
}

form input:hover {
  transform: translateY(0.5rem);
}

.btn-container {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

form textarea {
  width: 70%;
  margin: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  height: 5rem;
  border: 1px solid #cfd8dc;
  font-family: poppins, sans-serif;
}

.contact-btn {
  align-items: center;
  height: 2rem;
  width: auto;
  background-color: #fff;
  color: #6070ff;
  border-radius: 0.5rem;
  border: 1px solid #cfd8dc;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.contact-btn:hover {
  background-color: #6070ff;
  color: #cfd8dc;
}

.contact-btn:active {
  background-color: #2230d2;
  color: #cfd8dc;
}

.line {
  position: relative;
  bottom: 1.2rem;
  margin: 3rem auto;
  width: 28%;
  align-items: center;
  justify-content: center;
  height: 0.2rem;
  margin-bottom: 1.2rem;
  background-color: #000;
}

@media screen and (min-width: 768px) {
  .line {
    display: none;
  }

  .logo {
    line-height: 1.8rem;
    margin-left: 1.5rem;
  }

  .logo a {
    font-size: 1.5rem;
  }

  .reorder {
    order: 1;
  }

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  nav div {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link a {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    margin-left: 1.5rem;
    justify-content: space-around;
    color: #344563;
    text-decoration: none;
  }

  .toolbar-container li {
    font-family: poppins, sans-serif;
    font-size: 1.2rem;
    justify-content: space-around;
    color: #344563;
  }

  .toolbar-container svg {
    display: none;
  }

  .headline {
    margin: auto;
    margin-top: 3.5rem;
    padding-top: 1.8rem;
    width: 90%;
    display: flex;
    align-self: center;
    background-image: url("images/desktop_bg.png");
    background-position: center;
    background-size: 92%;
    margin-bottom: 4rem;
  }

  .heading {
    font-size: 3rem;
    color: #172b4d;
    margin-top: 1.5rem;
  }

  .links {
    margin-left: 1.2rem;
    margin-bottom: 0.5rem;
    width: 30%;
    height: 3rem;
  }

  .headline .links {
    margin-left: 7rem;
  }

  .headline h1 {
    line-height: 2.5rem;
    font-size: 3rem;
    color: #172b4d;
    margin-bottom: 1.2rem;
    margin-left: 7rem;
    margin-top: 1.5rem;
  }

  .headline p {
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 7rem;
  }

  .head-div {
    width: 90%;
    margin-left: 4rem;
  }

  .headline-bio {
    font-size: 1.2rem;
    width: 70%;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .bio p {
    font-size: 1.2rem;
    width: 100%;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 85%;
    margin-left: 3rem;
    margin-bottom: 5rem;
    align-content: center;
    justify-content: center;
    background-image: #fff;
    border: 1px solid #dfe1e6;
  }

  .works article {
    margin-bottom: 1.5rem;
  }

  .card div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 2rem;
    align-content: center;
  }

  .card img {
    width: 60%;
    height: 60%;
    margin: 1rem 0.2rem;
  }

  .headline h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .about {
    margin: 2.5rem auto;
    flex-direction: row;
    margin-bottom: 5rem;
    border-top-right-radius: 3rem;
  }

  .about h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 1.2rem;
    margin-left: 2rem;
  }

  #purple {
    font-size: 1.2rem;
    color: #7f8cff;
    margin-bottom: 1.2rem;
    margin-left: 7rem;
    font-weight: 700;
  }

  .bio #purple {
    font-size: 1.2rem;
    color: #7f8cff;
    margin-bottom: 1.2rem;
    margin-left: 2rem;
    font-weight: 700;
  }

  .links svg {
    position: relative;
    bottom: 1.1rem;
    margin-right: 0.7rem;
    cursor: pointer;
    height: 1.2rem;
    width: 2.2rem;
  }

  .links svg:hover path {
    fill: #7f8cff;
  }

  .card h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 0.7rem;
  }

  .card span {
    display: inline-block;
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
  }

  .card p {
    color: #344563;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 2rem;
  }

  .no-bullet {
    font-weight: 600;
    color: #344563;
    line-height: 1.9rem;
    margin-right: 0.9rem;
    font-size: 1rem !important;
  }

  .language-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }

  .tech-stack li {
    color: #6070ff;
    background: #e5e5e5;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    font-size: 0.9rem;
    padding: 0.4rem;
    margin-bottom: 0.9rem;
  }

  .btn {
    padding: 0.1rem;
    margin-top: 1rem;
    width: auto;
    height: auto;
    border: 1px solid #dfe1e6;
  }

  .contact article {
    display: flex;
    align-self: center;
    width: 60%;
    flex-direction: column;
    margin: inherit;
    height: auto;
  }

  .about-list {
    margin-top: 2rem;
  }

  .languages-title {
    color: #344563;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3rem;
    margin-top: 1.2rem;
  }

  .langs ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }

  .langs span {
    display: flex;
    flex-direction: column;
    font-size: 0.1rem !important;
    color: #253858;
    justify-content: center;
    margin: 3rem 0.5rem;
    width: 30%;
    height: auto;
  }

  .langs ul span {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-left: 0;
  }

  .language-container img {
    position: relative;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.4rem;
  }

  .langs li {
    width: auto;
    height: 5rem;
    margin-left: 0.5rem;
  }

  .langs li span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0.2rem;
    width: auto;
  }

  .about-head {
    font-size: 1.1rem;
  }

  #about_myself {
    font-size: 0.9rem;
    line-height: 1.1rem;
    width: 90%;
    text-align: justify;
    color: #344563;
  }

  .bio {
    width: 40%;
    padding-right: 1rem;
  }

  .second-container {
    width: 60%;
  }

  .resume-btn {
    position: relative;
    left: 1rem;
    padding: 5%;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 0.3rem;
    margin-left: 0.8rem;
  }

  .contact {
    background-image: url("images/contact_desktop_bg.png");
    background-size: contain;
    background-position: center;
    width: 100%;
    margin: 1rem auto;
    margin-top: 1.2rem;
    height: 100%;
  }

  .contact h2 {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 0.2rem;
  }

  .contact p {
    padding-bottom: 0.3rem;
  }

  .contact-btn {
    margin-top: 0.4rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
  }

  form textarea {
    margin-bottom: 0.9rem;
  }

  .langs p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .frameworks {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1016px) {
  .card img {
    width: 100%;
    height: 90%;
    margin: 1rem 1rem;
  }

  .works article {
    margin-bottom: 0.5rem;
  }

  .langs p {
    font-size: 1rem;
    font-weight: 500;
  }

  .headline h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    color: #172b4d;
    margin-bottom: 1.2rem;
    margin-left: 7rem;
    margin-top: 1.5rem;
  }

  .headline p {
    font-size: 1.3rem;
    width: 100%;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 7rem;
  }

  .resume-btn {
    padding: 3%;
  }
}
