body {
  margin: 0;
  padding: 0;
  width: 375px;
  font-family: 'Poppins', sans-serif;
}

nav {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  font-size: large;
  cursor: pointer;
}

nav ul li img {
  width: 30px;
  height: 30px;
  color: #7f8cff;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 3rem;
}

.purple {
  color: #7f8cff;
  font-size: 1.5rem;
  font-weight: 700;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 5vh;
  width: 80%;
  background-image: url("images/headline_bg.png");
  background-position: center;
}

.headline h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  color: #172b4d;
  font-weight: 700;
}

.bio {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 2rem;
  font-weight: 400;
}

.bio h2 {
  color: #7f8cff;
}

.links {
  display: flex;
}

.links img {
  height: 1.2rem;
  width: 1.2rem;
  color: #505f79;
  margin-right: 0.8rem;
  cursor: pointer;
}
